.window {
	display: block;
	background-color: #f4f5f7;
	border-radius: 10px;
	margin: 48px 0 80px;
	padding: 10px;
    overflow: hidden;
    position: relative;
	width: 500px;
	min-height: 200px;
	z-index: 25;
	color: #172b4d;

	-webkit-user-drag: element;

	-webkit-box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
	-moz-box-shadow:    0px 0px 10px 10px rgba(0,0,0,0.75);
	box-shadow:        	0px 0px 10px 10px rgba(0,0,0,0.75);
}

.window-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}

.window-title {
	margin-right: 20px;
	margin-bottom: 10px;
}

.window-title-input {
	width: 100%;
	height: 32px;
	font-size: 20px!important;
	font-weight: 700;
}

.window-left {
	margin-right: 160px;
}

.card-description {
	width: 100%;
	height: 80px;
}

.card-icons {
	position: absolute;
	right: 0;
	top: 0;
	margin: 8px;
}

.window-close:hover {
	background-color: rgba(9,30,66,.13);;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: #069;
  color: #fff;
  margin: 0
}
.app-wrapper {
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.board {
  overflow: auto;
  padding: 20px;
  display: flex;
  flex: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 118px;
  bottom: 33px;
  padding-right: 15px;
}
.list {
  display: inline-block;
  width: 250px;
  flex: 0 0 250px;
  vertical-align: top;
  overflow: auto;
  padding: 8px;
  border-radius: 8px;
  background: #f8f8f8;
  margin-right: 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.card {
	position: relative;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 8px 10px;
  -webkit-transition: all 0.3 ease;
  color: #000
}
.card:hover {
  opacity: 0.5;
}
.card.dragging {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  -webkit-transform: rotate(-2deg);
}
.card-placeholder {
  display: block;
  height: 34px;
  border: 1px dashed #ddd;
  margin: 3px 0;
  border-radius: 5px;
}
.listname {
  margin: 0 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  padding: 5px;
  border-bottom: 1px dashed #ddd;
  text-overflow: ellipsis;
  user-select: none;
}
.listname > span {
  float: right;
  font-weight: normal;
  font-size: 13px;
}

.header {
  padding: 20px;
  height: 70px;
  position: relative;
  background-color: #09446b;
}
.logo {
  margin: 0;
  display: inline-block;
}
.logo small {
  font-size: 9px;
  font-weight: normal;
  color: rgba(255,255,255,0.5);
  display: block;
  text-align: right;
  letter-spacing: 1px;
}
.form-add-todo,
.form-add-list {
  padding: 10px 20px;
  background: #0c79c1;

}
.form-add-todo input,
.form-add-list input {
  margin-left: 10px;
}
.form-add-list {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
input[type=text] {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 13px;
}
.total-card-counter {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 15px;
}

.buttons {
	margin-top: 10px;
}

.button {
	/*  display: inline-block;*/
	  /* display: block;
	  margin: auto; */
	  margin-bottom: 4px;
	  width: 160px;
	  zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	  *display: inline;
	  vertical-align: baseline;
	/*  margin: 0 20px; */
	  outline: none;
	  cursor: pointer;
	  text-align: center;
	  text-decoration: none;
	  font: 22px/100% Arial, Helvetica, sans-serif;
	  padding: .32em .32em .32em;
	  text-shadow: 0 1px 1px rgba(0,0,0,.3);
	  -webkit-border-radius: .5em; 
	  -moz-border-radius: .5em;
	  border-radius: .5em;
	  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	  box-shadow: 0 1px 2px rgba(0,0,0,.2);
	}
	.button:hover {
	  text-decoration: none;
	}
	.button:active {
	  position: relative;
	  top: 1px;
	}
	.bigrounded {
		-webkit-border-radius: 2em;
		-moz-border-radius: 2em;
		border-radius: 2em;
	  }
/* red */
.red {
	color: #e8f0de;
	border: solid 1px #e4331c;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#ec6c3b), to(#e4331c));
	background: -moz-linear-gradient(top,  #ec6c3b,  #e4331c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ec6c3b', endColorstr='#e4331c');
  }
  .red:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#dc4c1b), to(#d4130c));
	background: -moz-linear-gradient(top,  #dc4c1b,  #d4130c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc4c1b', endColorstr='#d4130c');
  }
  .red:focus, 
  .red:active {
	color: #ecac6b;
	background: -webkit-gradient(linear, left top, left bottom, from(#dc4c1b), to(#d4130c));
	background: -moz-linear-gradient(top,  #dc4c1b,  #d4130c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc4c1b', endColorstr='#d4130c');
  }
  /* green */
  .green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
  }
  .green:focus, 
  .green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
  }
  .green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
  }
