<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>JS Bin</title>
	<link rel="stylesheet" href="css/app.css" />
	<link rel="stylesheet" href="css/fontawesome.all.min.css" />
	<script src="vue.js"></script>
</head>

<body>
	<div id="app">
		<div class="app-wrapper">
			<header class="header">
				<h1 class="logo">Kanban
					<small>with vue.js</small>
				</h1>
				<p class="total-card-counter" id="totalCards">Total Projects: {{ cards.length }}</p>
			</header>
			<div class="form-add-todo">
				Add Project:
				<input type="text" autocomplete="off" name="todo_text" id="" value=""
					placeholder="Write and press enter" v-on:keyup.enter="addTodo($event)"/>
			</div>

			<div class="board" id="board">

				<div v-for="(list, list_id) in lists" :data-id="list_id" :id="'list_' + list_id" v-on:dragover="dragover($event)" v-on:drop="drop($event)" class="list">
					<h3 class="listname">{{ list.title }}<span>{{listsCards[list_id].length}}</span></h3>
					
					<div v-for="(card, card_num) in listsCards[list_id]" :data-id="card" :data-list-id="card" :id="'todo_'+card" class="card" v-on:click="editCard" :title="cards[card].description"
					v-on:dragstart="dragstart($event)" v-on:dragend="dragend($event)" v-on:dragover="dragover($event)" draggable="true" >
						{{ cards[card].title }}
						<div class="card-icons">
							<i v-if="cards[card].description.length > 0" class="fas fa-align-left"></i>
						</div>
					</div>

				</div>

			</div>

			<div class="form-add-list">
				Add List:
				<input type="text" autocomplete="off" name="list_name" id="" value="" placeholder="List name" v-on:keyup.enter="addList($event)"/>
			</div>

			<div class="window" draggable="true" v-show="card.editing" @keyup.esc="card.editing=false" tabindex="0">
					<i class="fas fa-times window-close" v-on:click="card.editing=false"></i>
				<div class="window-title">
					<input v-model="card.title" type="text" class="window-title-input">
				</div>
				<div class="window-left">
					<textarea class="card-description" v-model="card.description" placeholder="Описание"></textarea>
				</div>
				<div class="buttons">
					<input type="button" class="button green bigrounded" id="save" value="Сохранить" v-on:click="saveCard">
					<input type="button" class="button red bigrounded" id="cancel" value="Отменить" v-on:click="card.editing=false">
				</div>
			</div>
		</div>
	</div>
	<script src="jquery-1.12.4.js"></script>
	<script src="jquery-ui.js"></script>
	<script src="data.js"></script>
	<script src="app.js"></script>

</body>

</html>